{% extends 'profile/profile_detail.html' %}
{% load humanize lookup staticfiles startswith %}

{% block head_meta_description %}Youth related data from {{ geography.this.short_name}}, broken down by category: Demographics, Education, Economic opportunities, Living environment, Poverty and Health.{% endblock %}

{% block header_content %}
<div class="floating-nav-wrapper">
    <nav class="floating-nav">
        <div class="wrapper clearfix">
            <h3><img src="{% static 'img/youth-logo.png' %}">{{ geography.this.name }}</h3>
            <ul>
		<li><a href="#demographics"><i class="fa fa-user"></i> <span>Demographics</span></a></li>
                <li><a href="#education"><i class="fa fa-graduation-cap"></i> <span>Education</span></a></li>
		<li><a href="#health"><i class="fa fa-heartbeat"></i> <span>Health and wellness</span></a></li>
            </ul>
        </div>
    </nav>
</div>

{{ block.super }}
{% endblock %}

{% block profile_header_population %}
{% if geography.this.full_geoid|startswith:"point" %}
{% else %}
<span class="value">{{ demographics.youth_population_total.values.this|floatformat:"0" }}</span>
<span class="name">Youth aged 15-24 population</span>
{% endif %}
{% endblock %}

{% block profile_header_density %}
<span class="value">{{ demographics.population_density.values.this|floatformat:"1" }}</span>
<span class="name"> youth per square kilometre</span>
{% endblock %}

{% block profile_header_tail %}
<div class="column-full">
    <strong>{{ primary_releases.active.name }} {{ primary_releases.active.year }}</strong>
    {% if primary_releases.other %}
    <div class="tool-group toggle-sub-group release-list">
        <a>Change release<i class="fa fa-chevron-circle-down"></i></a>
        <ul class="sub-group" style="display: none;">
            {% for release in primary_releases.other %}
            <li><a href="{{ request.path }}?release={{release.year}}">{{ release.name }} {{ release.year }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block profile_detail %}
{% if geography.this.full_geoid|startswith:"point-HSF" %}
<style>
  ul{
         -moz-column-count: 2;
         -moz-column-gap: 20px;
         -webkit-column-count: 2;
         -webkit-column-gap: 20px;
         column-count: 2;
         column-gap: 20px;
  }
</style>
<article id="Services" class="clearfix">
        <header class="section-contents">
	    <h1>Services Offered</h1>
	    {{services.services.service}}
    </header>
        <div class="section-container">
	    <section class="clearfix stat-row">
	        <ul class="fa-ul">
		    {% for key, value in services.services.items %}
		    <li>
		        {% if value == "Yes" %}
		        <i class="fa fa-fw fa-check" style="color:green"></i>
		        {% else %}
		            <i class="fa fa-fw fa-times" style="color:red"></i>
		            {% endif %}
		            {{key}}
		</li>
		        {% endfor %}
	    </ul>
	</section>
    </div>
</article>
{% elif geography.this.full_geoid|startswith:"point"%}
{% else %}
<article id="demographics" class="clearfix">
    <header class="section-contents">
	<h1><i class="fa fa-fw fa-user"></i>Demographics</h1>
    </header>
    <div class="section-container">
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#population" id="population">Population<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
	    </div>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=demographics.youth_population_total stat_type='number' %}
	    </div>
	    <div class="column-half" id="chart-histogram-demographics-youth_population_by_age_group" data-stat-type="scaled-percentage" data-chart-title="Total population by age group"></div>
	</section>
	<section class="clearfix stat-row grouped-row">
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=demographics.youth_population_perc stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-half" id="chart-histogram-demographics-youth_population_by_pop_group" data-stat-type="scaled-percentage" data-chart-title="Youth population by race"></div>
	    <div class="column-quarter" id="chart-pie-demographics-youth_population_by_gender" data-stat-type="percentage" data-chart-title="Youth population by gender"></div>
	</section>
    </div>
</article>

<article id="education" class="clearfix">
    <header class="section-contents">
	<h1><i class="fa fa-fw fa-graduation-cap"></i>Education</h1>
    </header>
    <div class="section-container">
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#progress_school" id="progress_school">Progress through school<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=education.youth_perc_completed_grade9 stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-half" id="chart-pie-education-youth_completed_grade9" data-stat-type="percentage" data-chart-title="Youth aged 16-17 by grade 9 completion"></div>
	    <div class="column-quarter" id="chart-histogram-education-youth_completed_grade9_by_gender" data-stat-type="scaled-percentage" data-chart-title="Youth aged 16-17 who completed grade 9 by gender"></div>
	</section>
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#education_levels" id="education_levels">Highest educational level<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=education.youth_perc_matric stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-half" id="chart-histogram-education-youth_education_level" data-stat-type="scaled-percentage" data-chart-title="Youth aged 20-24 by highest educational level"></div>
	</section>
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#education_attendance" id="education_attendance">Educational attendance<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=education.youth_perc_attending stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-half" id="chart-histogram-education-youth_education_attending_by_age" data-stat-type="scaled-percentage" data-chart-title="Youth attendance at an educational institution by age"></div>
	    <div class="column-quarter" id="chart-histogram-education-youth_education_attending_by_gender" data-stat-type="scaled-percentage" data-chart-title="Youth attending an educational institution by gender"></div>
	    
	    <section class="clearfix stat-row">
                <h2 class="header-for-columns"><a class="permalink" href="#higher_education" id="higher_education">Higher Education<i class="fa fa-link"></i></a></h2>
                <aside class="multi-line-header">
                    <p></p>
		</aside>
                <div class="column-half">
		    {% include 'profile/_blocks/_stat_list.html' with stat=health.higher_education_total stat_type='number' %}
		</div>
                <div class="column-half" id="chart-histogram-health-higher_education_classification" data-stat-type="scaled-percentage" data-chart-title="Institution Classifications" data-decimal-places="0"></div>
            </section>
	    <section class="clearfix stat-row">
                <h2 class="header-for-columns"><a class="permalink" href="#basic_education" id="basic_education">Basic Education<i class="fa fa-link"></i></a></h2>
                <aside class="multi-line-header">
                    <p></p>
		</aside>
                <div class="column-third">
		    {% include 'profile/_blocks/_stat_list.html' with stat=health.basic_education_total stat_type='number' %}
		</div>
                <div class="column-third" id="chart-histogram-health-basic_education_phase" data-stat-type="scaled-percentage" data-chart-title="Phases" data-decimal-places="0"></div>
		<div class="column-third" id="chart-histogram-health-basic_education_sector" data-stat-type="scaled-percentage" data-chart-title="Sectors" data-decimal-places="0"></div>
            </section>

	    {% if display_profile == 'WC' %}
	    <section class="clearfix stat-row">
	        <h2 class="header-for-columns"><a class="permalink" href="#systemic_evaluations" id="systemic_evaluations">Grade 9 Systemic evaluations<i class="fa fa-link"></i></a></h2>
	        <aside>
		    <p>Test results from each school were allocated to the corresponding ward in which they were located. A number of wards do not contain any secondary schools and thus will display no data for these charts</p>
		</aside>
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_ave_mean_score_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-half" id="chart-histogram-education-youth_ave_mean_score_by_year" data-stat-type="scaled-percentage" data-chart-title="Average mean score in both language and mathematics by year"></div>
	    </section>
	    <section class="clearfix stat-row grouped-row">
	        <aside>
		    <p>The systemic  evaluations are compulsory for all public schools. Many, but not all, independent schools also choose to participate.</p>
		</aside>
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_ave_language_score_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-half" id="chart-histogram-education-youth_ave_language_score_by_year" data-stat-type="scaled-percentage" data-chart-title="Average score in language by year"></div>
	        <div class="column-quarter" id="chart-pie-education-youth_language_outcome_latest" data-stat-type="percentage" data-chart-title="Percentage passed in language"></div>
	    </section>
	    <section class="clearfix stat-row grouped-row">
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_ave_maths_score_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-half" id="chart-histogram-education-youth_ave_maths_score_by_year" data-stat-type="scaled-percentage" data-chart-title="Average score in mathematics by year"></div>
	        <div class="column-quarter" id="chart-pie-education-youth_maths_outcome_latest" data-stat-type="percentage" data-chart-title="Percentage passed in mathematics"></div>
	    </section>
	    <section class="clearfix stat-row">
	        <h2 class="header-for-columns"><a class="permalink" href="#matric_passes" id="matric_passes">Matric passes<i class="fa fa-link"></i></a></h2>
	        <aside>
		    <p>Data from each school were allocated to the corresponding ward in which they were located. A number of wards do not contain any secondary schools and thus will display no data for these charts.</p>
		</aside>
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_matric_pass_rate_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-quarter" id="chart-pie-education-youth_matric_outcome_latest" data-stat-type="percentage" data-chart-title="Matric pass rate"></div>
	        <div class="column-half" id="chart-histogram-education-youth_matric_outcome_by_year" data-stat-type="scaled-percentage" data-chart-title="Matric pass rate by year"></div>
	    </section>
	    <section class="clearfix stat-row grouped-row">
	        <aside>
		    <p>* i.e. when the matric class was in grade 8. This is essentially the throughput pass rate from Grade 8 to matric</p>
		</aside>
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_matric_throughput_rate_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-quarter" id="chart-pie-education-youth_matric_throughput_latest" data-stat-type="percentage" data-chart-title="Matric passes as % of grade 8 enrolment four years earlier *"></div>
	        <div class="column-half" id="chart-histogram-education-youth_matric_throughput_rate_by_year" data-stat-type="scaled-percentage" data-chart-title="Matric passes as % of grade 8 enrolment by year"></div>
	    </section>
	    <section class="clearfix stat-row grouped-row">
	        <aside>
		    <p>It is likely that students without a bachelor pass either passed with a diploma or certificate, dropped out or failed</p>
		    <p>* i.e. when the matric class was in grade 8</p>
		</aside>
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_bachelor_passes_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-quarter" id="chart-pie-education-youth_bachelor_outcome_latest" data-stat-type="percentage" data-chart-title="Bachelor passes as % of grade 8 enrolment four years earlier *"></div>
	        <div class="column-half" id="chart-histogram-education-youth_bachelor_passes_by_year" data-stat-type="scaled-percentage" data-chart-title="Bachelor passes as % of grade 8 enrolment by year"></div>
	    </section>
	    <section class="clearfix stat-row">
	        <h2 class="header-for-columns"><a class="permalink" href="#student_dropout" id="student_dropout">Student dropout<i class="fa fa-link"></i></a></h2>
	        <aside>
		    <p>Data from each school were allocated to the corresponding ward in which they were located. A number of wards do not contain any secondary schools and thus will display no data for these charts.</p>
		</aside>
	        <div class="column-quarter">
		    {% include 'profile/_blocks/_stat_list.html' with stat=education.youth_student_dropout_rate_latest stat_type='percentage' decimals='-1' %}
		</div>
	        <div class="column-half" id="chart-histogram-education-youth_student_dropout_rate_by_year" data-stat-type="scaled-percentage" data-chart-title="% dropout between grade 10 and matric  by year"></div>
	    </section>
	    {% endif %}
    </div>
</article>


{% if display_profile == 'WC' %}
<article id="safety" class="clearfix">
    <header class="section-contents">
	<h1><i class="fa fa-fw fa-group"></i> Youth safety</h1>
    </header>
    <div class="section-container">
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#crime_victims" id="crime_victims">Victims of contact crime<i class="fa fa-link"></i></a></h2>
	    <aside class="multi-line-header">
		<p>* All crime statistics only cover crimes reported to the SAPS and refer to crimes reported in the year 2014-15, unless otherwise stated</p>
	    </aside>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=safety.youth_victims_per_10k_youth stat_type='number' decimals='-1' %}
	    </div>
	    <div class="column-half" id="chart-histogram-safety-victims_by_age_group_per_10k_pop" data-stat-type="number" data-chart-title="Victims of contact crime by age group" data-qualifier="rate per 10,000 population in each age group"></div>
	    <div class="column-quarter" id="chart-histogram-safety-youth_victims_by_gender_per_10k" data-stat-type="number" data-chart-title="Youth victims of contact crime by gender" data-qualifier="rate per 10,000 youth"></div>
	</section>
	<section class="clearfix stat-row">
	    <aside class="multi-line-header">
		<p>** Contact crimes = murder + total sexual crimes + attempted murder + assault with the intent to inflict grievous bodily harm + common assault +common robbery + robbery with aggravating circumstance</p>
	    </aside>
	    <div class="column-two-thirds" id="chart-pie-safety-youth_victims_by_offence_per_10k_youth" data-stat-type="percentage" data-chart-title="Youth victims of contact crime by offence type" data-qualifier="rate per 10,000 youth"></div>
	    <div class="column-third" id="chart-histogram-safety-youth_victims_by_pop_group_per_10k" data-stat-type="number" data-chart-title="Youth victims of contact crime by race" data-qualifier="rate per 10,000 youth"></div>
	</section>
	<section class="clearfix stat-row">
	    <div class="column-three-quarters" id="chart-histogram-safety-youth_victims_by_year" data-stat-type="number" data-chart-title="Number of youth victims of contact crime by year"></div>
	</section>
    </div>
    <div class="section-container">
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#crime_accused" id="crime_accused">Accused of contact crime<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=safety.youth_accused_per_10k_youth stat_type='number' decimals='-1' %}
	    </div>
	    <div class="column-half" id="chart-histogram-safety-accused_by_age_group_per_10k_pop" data-stat-type="number" data-chart-title="Persons accused of contact crime by age group" data-qualifier="rate per 10,000 population in each age group"></div>
	    <div class="column-quarter" id="chart-histogram-safety-youth_accused_by_gender_per_10k" data-stat-type="number" data-chart-title="Youth accused of contact crime by gender" data-qualifier="rate per 10,000 youth"></div>
	</section>
	<section class="clearfix stat-row">
	    <div class="column-two-thirds" id="chart-pie-safety-youth_accused_by_offence_per_10k_youth" data-stat-type="percentage" data-chart-title="Youth accused of contact crime by offence type" data-qualifier="rate per 10,000 youth"></div>
	    <div class="column-third" id="chart-histogram-safety-youth_accused_by_pop_group_per_10k" data-stat-type="number" data-chart-title="Youth accused of contact crime by race" data-qualifier="rate per 10,000 youth"></div>
	</section>
	<section class="clearfix stat-row">
	    <div class="column-three-quarters" id="chart-histogram-safety-youth_accused_by_year" data-stat-type="number" data-chart-title="Number of youth accused of contact crime by year"></div>
	</section>
    </div>
    <div class="section-container">
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#contact_crimes" id="contact_crimes">Contact crime in area<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=safety.contact_crimes_per_10k_pop stat_type='number' decimals='-1' %}
	    </div>
	    <div class="column-three-quarters" id="chart-histogram-safety-contact_crimes_by_year" data-stat-type="number" data-chart-title="Number of contact crimes by year" data-qualifier="Contact crimes = murder + total sexual crimes + attempted murder + assault with the intent to inflict grievous bodily harm + common assault +common robbery + robbery with aggravating circumstances"></div>
	</section>
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#property_crimes" id="property_crimes">Property-related crime in area<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=safety.property_crimes_per_10k_pop stat_type='number' decimals='-1' %}
	    </div>
	    <div class="column-three-quarters" id="chart-histogram-safety-property_crimes_by_year" data-stat-type="number" data-chart-title="Number of property-related crimes by year" data-qualifier="Property-related crimes = burglary at non-residential premises + burglary at residential premises + theft of motor vehicle and motorcycle + theft out of or from motor vehicle + stock-theft"></div>
	</section>
    </div>
</article>
{% endif %}

<article id="health" class="clearfix">
    <header class="section-contents">
	<h1><i class="fa fa-fw fa-heartbeat"></i>Health and Wellness</h1>
    </header>
    <div class="section-container">
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#general_health" id="general_health">General health and functioning<i class="fa fa-link"></i></a></h2>
	    <aside class="multi-line-header">
		<p>* This includes youth with both mild and severe difficulties</p>
	    </aside>
	    <div class="column-third">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.youth_difficulty_seeing stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-two-thirds" id="chart-histogram-health-youth_difficulty_by_function" data-stat-type="scaled-percentage" data-chart-title="Youth experiencing difficulty in functioning by type *"></div>
	</section>
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#childbearing" id="childbearing">Childbearing<i class="fa fa-link"></i></a></h2>
	    <aside>
		<p>* There were many unspecified responses (no answer given) for this item, be careful with this statistic</p>
	    </aside>
	    <div class="column-third">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.youth_female_have_given_birth stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-third" id="chart-pie-health-youth_female_given_birth" data-stat-type="percentage" data-chart-title="Female youth aged 15-24 by children ever born" data-qualifier="Unspecified refers to cases where no response was given"></div>
		    <div class="column-third" id="chart-histogram-health-youth_female_given_birth_by_age_group" data-stat-type="scaled-percentage" data-chart-title="Female youth reported to have given birth to a child by age"></div>
			</section>
	<section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#public_facilities_settlement" id="public_facilities_settlement">Public Health Settlements<i class="fa fa-link"></i></a></h2>
            <aside class="multi-line-header">
                <p></p>
            </aside>
            <div class="column-half">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.public_health_total stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-health-public_health_settlement" data-stat-type="scaled-percentage" data-chart-title="Settlement Types" data-decimal-places="0"></div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#public_facilities_unit" id="public_facilities_unit">Public Health Units<i class="fa fa-link"></i></a></h2>
            <aside>
                <p></p>
            </aside>
            <div class="column-third">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.public_health_total stat_type='number' %}
            </div>
	    <div class="column-two-third" id="chart-histogram-health-public_health_unit" data-stat-type="scaled-percentage" data-chart-title="Unit Types" data-decimal-places="0"></div>
		</section>
	<section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#private_pharmacies_settlement" id="private_pharmacies_settlement">Private Pharmacy Settlements<i class="fa fa-link"></i></a></h2>
            <aside class="multi-line-header">
                <p></p>
            </aside>
            <div class="column-half">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.pharmacy_total stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-health-pharmacy_settlement" data-stat-type="scaled-percentage" data-chart-title="Settlement Types" data-decimal-places="0"></div>
        </section>
        <section class="clearfix stat-row">
            <h2 class="header-for-columns"><a class="permalink" href="#public_facilities_unit" id="public_facilities_unit">Private Pharmacy Units<i class="fa fa-link"></i></a></h2>
            <aside>
                <p></p>
            </aside>
            <div class="column-half">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.pharmacy_total stat_type='number' %}
            </div>
            <div class="column-half" id="chart-histogram-health-pharmacy_unit" data-stat-type="scaled-percentage" data-chart-title="Units Types" data-decimal-places="0"></div>
        </section>
	{% if display_profile == 'WC' and geography.this.geo_level != 'ward'%}
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#teenage-pregnancy" id="teenage-pregnancy">Teenage pregnancy<i class="fa fa-link"></i></a></h2>
	    <aside>
		<p>* Pregnancy and delivery rates only cover deliveries and termination of pregnancies done in a public healthcare facility</p>
	    </aside>
	    <div class="column-third">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.youth_preganacy_rate_latest stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-two-thirds" id="chart-histogram-health-youth_pregnancy_rate_by_year" data-stat-type="scaled-percentage" data-chart-title="Teenage pregnancy rate by year" data-qualifier="rate = deliveries and termination of pregnancies to females under 18 years as a percentage of total deliveries and termination of pregnancies" data-decimal-places="2"></div>
	</section>
	<section class="clearfix stat-row">
	    <h2 class="header-for-columns"><a class="permalink" href="#teenage-delivery" id="teenage-delivery">Teenage delivery<i class="fa fa-link"></i></a></h2>
	    <div class="column-third">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.youth_delivery_rate_latest stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-two-thirds" id="chart-histogram-health-youth_delivery_rate_by_year" data-stat-type="scaled-percentage" data-chart-title="Teenage delivery rate by year" data-qualifier="rate = deliveries to females under 18 years as a percentage of total deliveries" data-decimal-places="2"></div>
	</section>
	<section class="clearfix stat-row">
	    <aside>
		<p>** Cumulative 4-year data from 2010-2013 was used to calculate these statistics</p>
	    </aside>
	    <h2 class="header-for-columns"><a class="permalink" href="#causes-of-death" id="causes-of-death">Leading causes of death<i class="fa fa-link"></i></a></h2>
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.youth_female_HIV_deaths stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-three-quarters" id="chart-histogram-health-youth_female_top10_causes_of_death" data-stat-type="scaled-percentage" data-chart-title="Leading causes of death for female youth, 2010-2013" data-decimal-places="0"></div>
	</section>
	<section class="clearfix stat-row">
	    <div class="column-quarter">
		{% include 'profile/_blocks/_stat_list.html' with stat=health.youth_male_interpersonal_violence_deaths stat_type='percentage' decimals='-1' %}
	    </div>
	    <div class="column-three-quarters" id="chart-histogram-health-youth_male_top10_causes_of_death" data-stat-type="scaled-percentage" data-chart-title="Leading causes of death for male youth, 2010-2013" data-decimal-places="0"></div>
	</section>
	{% endif %}
    </div>
</article>
{% endif %}


{% block citations %}
{% include "profile/_blocks/_change_release.html" %}
<div id="citations">
    <h2>Citations:</h2>
    <ul></ul>
</div>
{% endblock %}
{% endblock %}
