{% load staticfiles %}
<div class="clearfix">
    <div class="column-quarter">
	<ul class="ul-icon-list">
            <li>
		<i class="fa fa-info"></i>
		<a href="/about">About {{ WAZIMAP.name }}</a>
            </li>
            <li>
		<i class="fa fa-info"></i>
		<a href="/help">Help</a>
            </li>
            <li>
		<i class="fa fa-envelope"></i>
		<a href="">Feedback</a>
            </li>
	</ul>
    </div>
    <div class="column-quarter">
	<ul class="ul-icon-list">
            <li>
		<i class="fa fa-github"></i> <a href="https://github.com/OpenUpSA/wazimap-health" target="_blank">{{ WAZIMAP.name }} on Github</a>
            </li>
	</ul>
    </div>
    <div class="column-half">
	<ul class="ul-icon-list">
            <li>
		<i class="fa fa-bar-chart-o"></i> <a href="http://www.statssa.gov.za/?page_id=6283" target="_blank">CS 2016 data from Stats SA</a>
            </li>
            <li>
		<i class="fa"></i> <a href="http://www.statssa.gov.za/" target="_blank">Census 2011 data from Stats SA</a>
            </li>
            <li>
		<i class="fa"></i> <a href="https://www.westerncape.gov.za/dept/education" target="_blank">Education data from  WC Education Dept</a>
            </li>
            <li>
		<i class="fa"></i> <a href="https://www.westerncape.gov.za/dept/health" target="_blank">Health data from WC Dept of Health</a>
            </li>
	</ul>
    </div>
</div>
<div class="clearfix">
    <div class="footer-logos">
	<a href="https://clintonhealthaccess.org/" target="_blank"><img img class="footer-logo" src="{% static 'img/chai-logo.svg' %}"></a>
	<a href="http://www.statssa.gov.za/?page_id=7944" target="_blank"><img img class="footer-logo" src="{% static 'img/statssa-logo.png' %}"></a>
	<a href="https://www.wits.ac.za/coe-human/" target="_blank"><img img class="footer-logo" src="{% static 'img/cehd-logo.png' %}"></a>
	<a href="http://www.health.gov.za/" target="_blank"><img img class="footer-logo" src="{%  static 'img/doh-logo.png' %}"></a>
    </div>
</div>
