{% extends 'about.html' %}{% load partition staticfiles %}

{% block head_title %}{{ block.super }}{% endblock %}

{% block content %}
<article id="about">
    <header>
        <h1 class="article-header">About Health</h1>
    </header>
    <section style="font-size:15px">
	There  are various organizations throughout South Africa that are doing important and dedicated work within the SRH space. However, partners are often not aware of each other’s scope of activities or geographical areas of work, resulting in overlapping activities and ineffective implementation. 
    </section>
    <section style="font-size:15px">
	This partner coordination map acts as a platform to strengthen collaborations amongst partners; ensure greater impact within communities and encourage shared and effective use of resources. Additionally, this map will be beneficial to all SRH partners around South Africa by providing accessible and accurate information on health and school facilities, SRH services offered at health facilities as well as national to sub-district level demographics. Ultimately,  this map intends for partners to work jointly in serving the population of South Africa and thus fostering a nation that can fully express its sexual and reproductive health and rights.
    </section>
</article>

{% endblock %}
