{% extends 'about.html' %}{% load partition staticfiles %}

{% block head_title %}{{ block.super }}{% endblock %}

{% block content %}
<article id="about">
    <header>
        <h1 class="article-header">About Health</h1>
    </header>
    <section style="font-size:15px">
	The National Department of Health (NDoH) envisions a long and healthy life for all persons in South Africa. It aims to improve the health status of South Africans by preventing illnesses, promoting healthy lifestyles and consistently improving the healthcare delivery system by focusing on areas of access, equity, efficiency, quality and sustainability.
    </section>
    <section style="font-size:15px">
	In an effort to further the mission and vision of the NDoH, this Sexual and Reproductive Health (SRH) Activities Map acts as a platform to strengthen collaborations amongst partners, ensure greater impact within communities and encourage shared and effective use of resources. Additionally, this map will provide accessible and accurate information that can help partners to work jointly in serving the population of South Africa.
    </section>
    <section style="font-size:15px">
	Specific information that can be found on this site includes: SRH services offered at public health facilities (as per District Health Information System records) and geographical information for public health facilities; private pharmacies, Marie Stopes centres; basic education & special needs schools and higher education & TVET institutions. In addition, this map highlights She Conquers campaign priority areas and provides population, education, health and wellness demographics from a provincial to a local municipality level.
    </section>
    <section style="font-size:15px">
	To access more information about the Department of Health in the Republic of South Africa, please visit their website <a href="http://www.health.gov.za/">here</a>.
    </section>

{% endblock %}
