{% extends 'help.html' %}{% load partition staticfiles %}

{% block content %}
  <article id="help">
      <header>
        <h1 class="article-header">Using {{ WAZIMAP.name }}</h1>
      </header>
      <section>
	  <h2>Help Sections</h2>
	  <ul>
	      <li><h3><a href="#find">Finding Places</a></h3></li>
	      <li><h3><a href="#point">Facilities and Institutions</a></h3></li>
	      <li><h3><a href="#campaign">Campaign Areas</a></h3></li>
	  </ul>
      </section>
      <section>
	  <hr>
	  <h2 class="subhead" id="find">Finding Places</h2>
	  <div class="column-half card">
	      <img width="560" height="auto" src="{% static 'img/find_place_2.png' %}" />
	      <span class="caption">Type in the name or address of a place. Then select the location you are interested in from the dropdown</span>
	  </div>
	  <div class="column-half card">
	      <img width="560" height="auto" src="{% static 'img/click_find.png' %}" />
	      <span class="caption">Alternatively, click on the map area you want to go to. The <span class="zoom-in">+</span> and <span class="zoom-out">-</span> zoom in and out</span>
	  </div>
      </section>
      <hr/>
      &nbsp;
      <hr/>
      &nbsp;
      <section>
	  <h2 class="subhead" id="point">Facilities and Institutions</h2>
	  <p>On a municipal level, point data showing various health facilities and education institutions  can be viewed.</p>
	  <img width="auto" height="560" src="{% static 'img/point_overview.png' %}" />

	  <p>The points are coloured coded according to the facilities they belong to. The Filter menu towards the right of the map shows the colour key</p>
	  <ul>
	      <li><span style="color:#267fca">Public Health Facilities</span></li>
	      <li><span style="color:#24ac20">Private Pharmacies</span></li>
	      <li><span style="color:#cb8325">Marie Stopes Facilities</span></li>
	      <li><span style="color:#3c3c3c">Higher Education Institutions</span></li>
	      <li><span style="color:#9823c9">Basic Education Institutions</span></li>
	  </ul>
	  <p>By default, all the points from the various facilities and institutions are shown, the filter menu can be toggeled to only reveal the interested facility type</p>
	  <p>Hovering over a point, will reveal the name of the facility and clicking the point will show the profile of the point</p>
	  <h4> Point Profile Page</h4>
	  <p>The profile point page will provide more details about a particular point, the below image shows details about a school.</p>
	  <img width="auto" height="560" src="{% static 'img/point_profile.png' %}" />
	  <p>For health facilities, as shown below,services that are provided by the facility can be viewed.</p>
	  <img width="auto" height="560" src="{% static 'img/point_health_facility.png' %}" />
	  
      </section>
      
      <hr/>
      &nbsp;
      <hr/>
      &nbsp;
      <section>
	  <h2 class="subhead" id="campaign">Campaign Areas</h2>
	  <p>Geographical areas that are shaded in a different colour indicate that an organisation or campaign is working in that region. In the below example the <a href="http://sheconquerssa.co.za/">She Conquers Campaign</a> is operating in the City of Johannesburg metro and the Emfuleni municipality </p>
	  <img width="auto" height="560" src="{% static 'img/campaign.png' %}"/>
      </section>
      <section>
	  <h2 class="subhead" id="contact">More Queries</h2>
	  <p>For more queries, please contact <a href="https://bwisehealth.com/">B-Wise Health</a></p>
	  
      </section>
  </article>
{% endblock %}
